PORT=8080
MONGODB_URI=mongodb://127.0.0.1:27017/shipnow
MONGODB_URI_TEST=mongodb://127.0.0.1:27017/shipnow_test
TEST_DB_NAME=shipnow_test
NODE_ENV=development
LOG_LEVEL=debug
UPLOAD_DIR=uploads
UPLOAD_MAX_SIZE_MB=5
INTERNAL_ENDPOINTS_ENABLED=true
SWAGGER_ENABLED=true
